* {
    box-sizing: border-box;
  }
  
  #selector {
    padding: 20px;
    color: red;
  }
  .header {
    padding: 25px;
    font-size: 24px;
    text-align: center;
    background: linear-gradient(to top left, #870000 -2%, #190A05 109%);
  }

  body {
    font-family: "Times New Roman", Times, serif;
    color: white;
    padding: 10px;
    font-size: 20px;
    background: #000000;
    
  }

  .row {
    font-size: 18px;
    padding: 20px;
  }
  
  .col {
    font-size: 18px;
    padding: 20px;
  }

  .grid {
    background: linear-gradient(to top left, #8E0E00 -2%, #1F1C18 109%);
    display: grid;
    padding: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: 500px auto;
  }
  
  .grid-item {
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }

  .card {
    background: linear-gradient(to top left, #870000 -2%, #190A05 109%);
    padding: 20px;
    margin-top: 20px;
  }

  .card_description {
    background: linear-gradient(to top left, #000000 -2%, #009999 109%);
    padding: 20px;
    margin-top: 20px;
  }
  p::selection {
    color: red;
    background-color: yellow;
  }


@media screen and (max-width: 800px) {
    .grid, .grid-item, .card, .col, .row {   
      width: 100%;
      padding: 0;
    }
}